* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #e8dfd6;
}

/* LAYOUT */
.layout {
  display: flex;
  min-height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 240px;
  background: #F9F8F6;
  padding: 20px;
  margin-bottom: 10px;
}

.logo {
  height:57px;
  width:67px;
  margin: 5px 0 10px 10px;}

.sidebar nav a {
  display: block;
  padding: 12px;
  margin-top: 14px;
  margin-bottom: 6px;
  border-radius: 8px;
  color: #333;
  cursor: pointer;
}

.sidebar nav a.active,
.sidebar nav a:hover {
  background: #e7f0ff;
}

.logout {
  margin-top: 40px;
  color: #b00020;
}

/* MAIN */
.main {
  flex: 1;

}

/* HEADER */
.header {
  height: 105px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F9F8F6;
  padding: 0 20px 0 20px;
  margin-bottom: 20px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile img {
  border-radius: 50%;
}


/* ANALYTICS */
.analytics {
  padding: 20px;
}

/* STAT CARDS */
.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-bottom: 25px;
}

.stat-card {
  background: #fff;
  padding: 18px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.stat-card h4 {
  color: #666;
  font-size: 14px;
  margin-bottom: 8px;
}

.stat-card p {
  font-size: 22px;
  font-weight: bold;
}

/* CHARTS */
.chart-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  gap: 20px;
  margin-bottom: 20px;
}

.chart-card {
  background: #fff;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.06);
}

.chart-card h3 {
  margin-bottom: 15px;
  font-size: 16px;
}

/* REVENUE HEADER */
.chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chart-header select {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
