body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.footer {
    background: #FAF4F4;
    color: #000000;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    padding: 40px 60px;
}

.footer-box-products{
    height: 100%;
    width: 100%;
    margin-left: 80px;
}

.footer-box h4 {
    margin-bottom: 15px;
    font-weight: bold;
}

.footer-box p,
.footer-box li {
    font-size: 14px;
    line-height: 1.8;
}

.footer-box ul {
    list-style: square;
    font-weight: 200;
    padding: 5px;
    margin-left: 10px;
}

.footer-box i {
    margin-right: 10px;
}

/* Social icons */
.social-icons {
    display: flex;
    gap: 12px;
}

.social-icons a {
    width: 38px;
    height: 38px;
    border-radius: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding-left: 8px;
}




/* Icon colors */
.facebook { background: #3b5998; }
.twitter { background: #55acee; }



.google {
  background: linear-gradient(45deg, #4285F4, #DB4437, #F4B400, #0F9D58);
  color: white;
  border-radius: 6px;
}


.instagram {
  background: radial-gradient(
      circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
  );
}

.linkedin { background: #0077b5; }
.github { background: #333; }

.footer-bottom {
    background: #D9CFC7;
    text-align: center;
    padding: 5px;
    font-size: 14px;
}


#sell-it{
    height: 50px;
    width: 50px;
}

#uiu{
    height: 47px;
    width: 57px;
    margin-left: 20px;
}